/*top bar*/
#top_nav{
	display: block;
	background-image:url(https://colleen-anne.github.io/images/light_grey.png);
	border-bottom: double;
	border-bottom-width: 16px;
	position: relative;
	color: #4d0f00;
}

/*dropdown bar*/
#top_nav li:hover ul{
	display:block;
	border-style: double; 
	border-color: #185a63;
}

/*menu links*/
#top_nav li a{
	text-decoration: none;
	display:block;
	color: #991f00;
}

#top_nav ul{
	margin: 0px;
	padding: 0px;
}

#top_nav li{
	position: relative;
	float: left;
	list-style-type: none;
	padding: 12px;
	color:#185a63;
	font-style: ariel;
	text-shadow: black 0.01em 0.01em 0.02em
}

#top_nav ul:after{
	content:".";
	display: block;
	height: 0px;
	background-color: white;
	clear: both;
	visibility: hidden;
}

#top_nav ul ul{
	position: absolute;
	display: none;
	left: 0px;
}

#top_nav ul ul li {
	background: white;
	width: 180%;
	border-style: double;
}

h1, h2, h3 {
	background-image:url(https://colleen-anne.github.io/images/light_grey_paisley.png);
	display:block;
	text-align: center;
	padding:20px;
	color:#991f00;
	text-shadow: black 0.01em 0.01em 0.02em
}


#text ul li{
	list-style-type: square;
	padding-bottom: 10px;
	color:#4d0f00;
}

#technical {
	display: block;
	text-align: center;
	padding:60px;
	color:#d9d9d9;
}

#technical table{
	border: 2px double #d9d9d9;
}

#technical table th{
	text-align: center;
	padding: 15px;
}

#technical table td{
	text-align: left;
	padding-right: 12px;
}

#about{
	padding: 10px;
	text-align: center;
	border: double;
}

#about p{
	display: block;
	padding:30px;
	color:#4d0f00;
}
