#welcome-banner {
	text-align: center;
	background-image: url("http://www.quickguards.com/images/upload/materials/White%20Paisley.jpg") ;
}

#about-me{
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-top:20px;
	padding-bottom: 20px;
}

#profile {
	/* background-image: */
	height: 250px;
	width:  200px;
	border-radius:150%;
}

#my-experience {
	text-align: center;
	background-color: #999999;
	padding-bottom: 20px;
}

#my-experience h2 {
	text-shadow: black 0.01em 0.01em 0.02em;
}

#learn-more{
	background-color: #999999;
}

h2, h3 {
	color:#185a63;
	text-shadow: black 0.01em 0.01em 0.02em;
}

h1 {
	text-shadow: black 0.01em 0.01em 0.02em;
}

#describe{
	color: black;
	text-shadow: black 0.01em 0.01em 0.02em;
}


/* Dropdown Button 
.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
*/

/* Dropdown button on hover & focus 
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
*/

/* The container <div> - needed to position the dropdown content 
.dropdown {
    position: relative;
    display: inline-block;
}
*/

/* Dropdown Content (Hidden by Default) 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

*/

/* Links inside the dropdown 
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
*/

/* Change color of dropdown links on hover 
.dropdown-content a:hover {background-color: #f1f1f1}
*/

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button)
.show {display:block;}
*/

