#welcome-banner {
	text-align: center;
	background-image: url("http://www.quickguards.com/images/upload/materials/White%20Paisley.jpg") ;
}

#profile {
	/* profile pic: */
	height: 250px;
	width:  200px;
	border-radius:150%;
}

h1, h2, h3 {
	color:#B8005C;
	text-shadow: black 0.01em 0.01em 0.02em
}
